footer {
  font-weight: lighter;
  position: relative;
  font-size: 14px;
  z-index: 103;
  width: 100%;
  text-align: left;
  top: 300px;
  background: body-background;
  padding-bottom: 35px;
}
footer .footer-wrap {
  width: 900px;
  margin: auto;
  color: label-font;
}
footer .footer-wrap div {
  margin: 15px;
}
footer .footer-wrap a {
  text-decoration: none;
  color: default-link;
}
footer .footer-icon {
  display: inline-block;
  margin: 0 10px;
  color: default-link;
  font-size: 18px;
}
