#home-card {
  width: 95% !important;
  padding: 20px 0 !important;
  margin: auto !important;
  position: relative;
}
.notify-style {
  width: auto;
  border-radius: 22px;
  text-align: left;
  box-shadow: 0px 0px 20px rgba(112,112,112,0.233);
  background-color: noti-background;
  border: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.4s ease-out;
  margin-left: 10px !important;
  backdrop-filter: blur(20px);
  color: text-font;
}
.notify-style:hover {
  transform: translate3d(-5px, -5px, 0);
}
.notify-style .noti-title {
  margin: 2px auto !important;
  font-size: 16px;
  text-align: left;
  text-transform: capitalize;
  width: 85%;
}
.notify-style .noti-detail {
  margin: 2px auto !important;
  font-size: 12px;
  text-align: left;
  font-weight: light;
  text-transform: capitalize;
  width: 85%;
}
.card-style {
  width: auto;
  border-radius: 22px !important;
  text-align: left;
  box-shadow: 0px 0px 20px rgba(112,112,112,0.233);
  border: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.4s ease-out;
  margin-left: 10px !important;
}
.card-style:hover {
  transform: translate3d(-5px, -5px, 0);
}
.card-style .avatar {
  text-align: left;
  margin: 20px auto 20px auto !important;
  width: 106px !important;
  height: 106px !important;
  border-radius: 50% !important;
  border: side-card-avatar 3px solid;
}
.card-style .avatar img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.card-style .name {
  margin: 5px auto !important;
  font-size: 28px;
  text-align: left;
  color: rgba(255,255,255,0.811);
  text-transform: capitalize;
  width: 85%;
}
.card-style .descriptions {
  margin: 10px auto !important;
  font-size: 20px;
  text-align: left;
  font-weight: lighter;
  color: rgba(255,255,255,0.745);
  width: 85%;
}
.card-style .icon-links {
  width: 85%;
  margin: 10px auto !important;
  padding: 8px 15px !important;
}
.card-style .icon-links a {
  color: #fff;
  font-size: 18px;
  padding: 3px 5px !important;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}
.card-style .icon-links a:hover {
  color: #f2a4b9;
  background: #fff;
}
.card-style .icon-links .icon-link {
  margin: 5px !important;
}
.card-style .friend-links {
  margin: 10px auto !important;
}
.card-style .friend-links .friend-link {
  margin: 5px auto !important;
}
.card-style .friend-links .friend-link a {
  display: inline-block;
  width: 140px;
  line-height: 3;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 15px;
  transition: all 0.4s ease-out;
  background: rgba(0,0,255,0);
}
.card-style .friend-links .friend-link a:hover {
  background: #7dc4ff;
}
#profileinfo {
  background: inf-bg;
  backdrop-filter: blur(20px);
}
#fr-link {
  background: fl-bg;
  backdrop-filter: blur(20px);
}
