.article {
  margin: auto;
  position: relative;
  top: 100px;
  color: text-font;
  padding: 20px;
  font-size: 15px;
  transition: all 0.6s;
}
.article h1 {
  font-weight: normal !important;
  margin: 20px 0 !important;
}
.article h2 {
  font-weight: normal !important;
}
.article h3 {
  font-weight: normal !important;
}
.article h4 {
  font-weight: normal !important;
}
.article h5 {
  font-weight: normal !important;
}
.article h6 {
  font-weight: normal !important;
}
.article .info a {
  color: #5c6b72;
  text-decoration: none;
}
.article .info .date,
.article .info .category,
.article .info .tags {
  color: #5c6b72;
  display: inline-block;
  margin-right: 20px;
}
.article .info .date .tag,
.article .info .category .tag,
.article .info .tags .tag {
  margin-right: 10px;
}
.article .content {
  margin: 50px 0;
}
.page_title {
  font-size: 40px !important;
  font-weight: lighter !important;
  color: text-font;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.co_main {
  font-weight: lighter;
  font-size: 25px;
  line-height: 1.5 !important;
  color: text-font;
}
.co_sub {
  font-weight: lighter;
  font-size: 15px;
  line-height: 1.5 !important;
  color: text-font;
}
.uico {
  padding: 20px 20px;
  background: rgba(255,255,255,0);
  border-radius: 20px !important;
  transform: translate3d(0px, 0px, 0);
  transition: all 0.4s ease-out !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  width: 100% !important;
  text-align: left !important;
  border-color: rgba(255,255,255,0) !important;
  align-items: center !important;
}
.uico:hover {
  transform: translate3d(-5px, -5px, 0);
  box-shadow: 0px 0px 20px rgba(217,217,217,0.5);
  background-color: rgba(104,104,104,0.275);
}
.pro-is {
  right: 10px;
  top: 70px;
  position: fixed;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  height: 30px;
  padding: 5px 5px;
  text-align: center;
  z-index: 999;
  box-shadow: 0px 0px 20px rgba(217,217,217,0.5);
  background: menu-default-background;
  backdrop-filter: blur(20px);
  border-radius: 30px;
  transition: all 0.5s ease-out;
}
.back {
  padding: 15px 17px;
  bottom: 100px;
  background: rgba(255,255,255,0);
  border-radius: 80px;
  color: menu-default-font;
  transition: all 0.4s ease-out;
  text-align: left;
  border-color: rgba(255,255,255,0);
}
.back:hover {
  background: rgba(120,120,120,0.376);
  color: menu-default-font;
}
.linear {
  background: linear-hover;
}
