.scrollbar {
  overflow: overlay;
}
.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scrollbar::-webkit-scrollbar-track {
  background: rgba(255,255,255,0);
}
.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0);
  border-radius: 6px;
  border: 3px solid rgba(0,0,0,0);
  box-shadow: 6px 0 0 current-color inset;
}
