.toc_main {
  box-shadow: 0 0 20px rgba(217,217,217,0.5);
  backdrop-filter: blur(12px);
  font-weight: lighter;
  overflow-x: scroll;
  overflow-y: auto;
  background-color: rgba(255,255,255,0.201);
  border-radius: 22px;
  max-height: 100%;
  max-width: 340px;
}
.toc_main .sidebar-title {
  margin-left: 10px;
  font-size: 25px;
}
.toc_main ::-webkit-scrollbar {
  display: block;
}
.toc_main li {
  margin: 25px 0;
}
